@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../styles/font';
@import '../styles/animated/index';


html {
  scroll-behavior: smooth;
}

html,
body {
  @apply w-full;
  @apply h-full;
}

body {
  @apply bg-stone-950;
  @apply text-body;
  overscroll-behavior: none;
}

.heading-mask {
  --xPercent: 100;
  clip-path: inset(0 var(--xPercent) 0 0);
}